<div class="messages">
  <ol class="chat">
    <% threads.each do |thread| %>
        <%= thread[:content] %>
        <% thread[:messages].each do |message| %>
            <li class="<%= message.sender == user.uid ? 'self' : 'other' %>">
              <div class="msg">
                <p> <%= message.content %></p>
                <div class="sender"><%= message.sender %></div>
                <time><%= message.created_at %></time>
              </div>
            </li>
        <% end %>
    <% end %>
  </ol>
</div>
