<div class="messages">
  <ol class="chat">
    <% threads.each_with_index do |thread, index| %>
        <div class="solution">
          <a onclick="toggleCollapse('content-<%= index %>')">
            <i class="fa fa-compress">
              <span> Ver solución </span>
            </i>
          </a>
          <div id="content-<%= index %>" class="collapse">
            <%= thread[:content] %>
          </div>
        </div>
        <% thread[:messages].each do |message| %>
            <li class="<%= message.sender == user.uid ? 'self' : 'other' %>">
              <div class="msg">
                <p> <%= message.content %></p>
                <div class="sender"><%= message.sender %></div>
                <time><%= message.created_at %></time>
              </div>
            </li>
        <% end %>
    <% end %>
  </ol>
</div>


<script>
  function toggleCollapse(target) {
    var $target = $('#' + target);
    $target.slideToggle('fast', function () {
      $target.toggleClass('in');
    })
  }
</script>
